<div class="project min-vh-100">
    <div class="sticky">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="">Manage your data</h2>
                </div>
                <div class="col-12">
                    Joined on: {{currentUser.created}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-expansion-panel class="m-2 p-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Email:
                            </mat-panel-title>
                            <mat-panel-description>
                                {{currentUser.email}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="New email">
                            </mat-form-field>
                        <button class="btn btn-outline-primary">Confirm</button>
                    </mat-expansion-panel>
                </div>
            </div>
            <div class="row">
                <div class="col w-100">
                    <mat-expansion-panel class="m-2 p-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Password
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <p>Current password:</p>
                                </div>
                                <div class="col-3">
                                    <div>{{Password}}</div>
                                </div>
                                <div class="col-3">
                                    <button id="ident" class="btn btn-outline-primary"
                                        (click)="showPassword();changeName();">{{ButtonName}}</button>
                                </div>
                            </div>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Password">
                            </mat-form-field>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Confirm password">
                            </mat-form-field>
                            <button class="btn btn-outline-primary">Confirm</button>
                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
        </div>
    </div>
</div>