version: '3.7'

# Define services
services:
  # App backend service
  app-server:
    # Configuration for building the docker image for the backend service
    build: ./server
    ports:
      - "8080:8080" # Forward the exposed port 8080 on the container to port 8080 on the host machine
    restart: always
    depends_on: 
      - db # This service depends on mysql. Start that first.
    environment: # Pass environment variables to the service
      SPRING_DATASOURCE_URL: jdbc:mysql://b8e819c239af2b:ce5382cc@eu-cdbr-west-02.cleardb.net/heroku_7013a700c5d03a4?reconnect=true
      SPRING_DATASOURCE_USERNAME: b8e819c239af2b
      SPRING_DATASOURCE_PASSWORD: ce5382cc
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - backend
      - frontend

  # Frontend Service 
  app-client:
    build: ./front
    ports:
      - "4200:4200"
    restart: always
    depends_on:
      - app-server
    networks:
      - frontend  

  # Database Service (Mysql)
  db:
    image: mysql:latest
    ports:
      - "3306:3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=1q2w3e4r
    networks:
      - backend

# Volumes
volumes:
  db-data:
# Networks to be created to facilitate communication between containers
networks:
  backend:
  frontend:    