<div class="project min-vh-100">
    <app-navbar></app-navbar>
    <div class="p-2">
        <div class="col-lg-6 mx-auto">
            <table class="table table-hover">
                <thead class="item">
                    <tr>
                        <th>#</th>
                        <th>Tool</th>
                        <th>Project</th>
                        <th>Scan date</th>
                        <th>Status</th>
                        <th>Log</th>
                    </tr>
                </thead>
                <tbody class="item">
                    <tr *ngFor="let scan of scanList | async; index as i;">
                        <td>{{i+1}}</td>
                        <td>{{scan.tool}}</td>
                        <td>{{scan.project}}</td>
                        <td>{{scan.date}}</td>
                        <td><span *ngIf="scan.status=='positive'" style="font-size: 1.5em; color: green">
                                <i class="fa fa-check-square"></i>
                            </span>
                            <span *ngIf="scan.status=='negative'" style="font-size: 1.5em; color: red">
                                <i class="fa fa-minus-square"></i>
                            </span>
                            <span *ngIf="scan.status=='waiting'" style="font-size: 1.5em; color: orange">
                                <i class="fa fa-pause-circle"></i>
                            </span></td>
                        <td><button type="button" class="btn-sm btn-secondary" data-toggle="modal"
                                data-target="#exampleModal">Log</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>