<app-main></app-main>
<div class="project p-3">
    <div class="container shadowbox">
        <div class="col-xl-12 mx-auto">
            <div class="dropdown p-4 float-right">
                Items per page:
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{pageSize}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="setPageSize(10)">10</a>
                    <a class="dropdown-item" (click)="setPageSize(20)">20</a>
                    <a class="dropdown-item" (click)="setPageSize(50)">50</a>
                </div>
            </div>
            <table id="tooltable" class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col" (click)="sort('id')">ID&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('tool')">Tool&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col" (click)="sort('date')">Scan date&nbsp;<i class="fa fa-sort"></i></th>
                        <th scope="col">Status</th>
                        <th scope="col">Log</th>
                    </tr>
                </thead>
                <tbody
                    *ngFor="let tool of toolList | paginate: { itemsPerPage: pageSize, currentPage: pageNumber }; index as i;">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td>{{tool.id}}</td>
                        <td>{{tool.tool}}</td>
                        <td>{{tool.date}}</td>
                        <td><span *ngIf="tool.status=='positive'" style="font-size: 1.5em; color: green">
                                <i class="fa fa-check-square"></i>
                            </span>
                            <span *ngIf="tool.status=='negative'" style="font-size: 1.5em; color: red">
                                <i class="fa fa-minus-square"></i>
                            </span>
                            <span *ngIf="tool.status=='waiting'" style="font-size: 1.5em; color: orange">
                                <i class="fa fa-pause-circle"></i>
                            </span></td>
                        <td><button type="button" class="btn-sm btn-secondary" data-toggle="modal"
                                data-target="#exampleModal">Log</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="p-1">
                <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div style="height: 400px;"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>