<div class="project min-vh-100">
    <div class="sticky">
        <app-navbar></app-navbar>
        <div class="col-2 fixed-bottom">
            <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Scan finished</strong>
                <p>Please check Your e-mail for further details</p>
                <span (click)="closeSuccess()">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
            <div *ngIf="sending" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Sending scan</strong>
                <p>Please wait for results</p>
                <span (click)="closeSending()">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
            <div *ngIf="failure" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Scan failed</strong>
                <p>Please retry or try again later</p>
                <span (click)="closeFailure()">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div *ngIf="selected | async" class="container col-10 col-xl-8">
        <div class="item border">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11">
                    <h5><b>{{(selected | async).name}}</b></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table class="table table-hover details-scrollbar">
                        <tbody *ngFor="let scan of (selected | async).scans; index as i;">
                            <tr>
                                <th scope="row">{{i+1}}</th>
                                <td>{{scan.toolName}}</td>
                                <td>{{scan.stringDate}}</td>
                                <td>
                                    <span *ngIf="scan.status=='positive'" style="font-size: 1em; color: green">
                                        <i class="fa fa-check-square"></i>&nbsp;Positive
                                    </span>
                                    <span *ngIf="scan.status=='negative'" style="font-size: 1em; color: red">
                                        <i class="fa fa-minus-square"></i>&nbsp;Negative
                                    </span>
                                    <span *ngIf="scan.status=='waiting'" style="font-size: 1em; color: orange">
                                        <i class="fa fa-pause-circle"></i>&nbsp;Waiting
                                    </span></td>
                                <td><button [disabled]="!scan.log" class="btn btn-outline-secondary">Log</button>&nbsp;
                                    <button [disabled]="loading" class="btn btn-outline-danger" (click)="trigger(scan.id)">Trigger
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    </button></td>
                                <td style="cursor: pointer;">
                                    <span style="font-size: 1.4em;"><i class="fa fa-edit"></i></span>&nbsp;
                                    <span style="font-size: 1.5em; color: red;"><i class="fa fa-trash"></i></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!selected">
        <div class="container">
            <div class="row">
                <h1 class="mx-auto">404</h1>
            </div>
            <div class="row">
                <h5 class="mx-auto">Could not find project</h5>
            </div>
        </div>
    </div>
</div>