.tool-scrollbar {
    height: 100px;
    overflow: auto;
    display: block;
 }

 .details-scrollbar {
    max-height: 700px;
    overflow: auto;
 }

 .tile:hover {
    position: relative;
    bottom: 0.3em;
    box-shadow: 0 1px 12px rgb(214, 214, 214);
 }
 
 .tile {
    box-shadow: 0 0 5px rgb(214, 214, 214);
 }

.icon {
    font-size: 1.5em;
    text-align: end;
}