<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">/logo/</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Scans</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/projects">Projects</a>
            </li>
            <!-- TODO: zmienic to na cos bardziej sensownego -->
            <li *ngIf="currentUser.username=='admin'" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdminLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu dropdown-default text-center" aria-labelledby="navbarDropdownAdminLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" routerLink="/users">Users</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{currentUser.username}}
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
                    aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item mb-2" data-toggle="collapse" href="#settings" aria-expanded="false"
                        aria-controls="settings">Settings</a>
                    <button class="btn btn-primary" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="collapse" id="settings">
    <div class="container col-10 col-sm-6 col-md-5 col-lg-4 col-xl-2 sett border mt-4 px-4 pb-4">
        <div class="row">
            <div class="col-9 mt-2 ml-2">
                <b>Menage your data</b>
            </div>
            <div class="col-2 icon">
                <span data-toggle="collapse" href="#settings" role="button" aria-expanded="false"
                    aria-controls="settings" style="cursor: pointer;"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <mat-accordion>
            <mat-expansion-panel class="m-2 p-2 settingsBar">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Username
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="New username">
                </mat-form-field>

                <button class="btn btn-outline-primary">Confirm</button>
            </mat-expansion-panel>

            <mat-expansion-panel class="m-2 p-2 settingsBar">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Email
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="New email">
                </mat-form-field>

                <button class="btn btn-outline-primary">Confirm</button>
            </mat-expansion-panel>

            <mat-expansion-panel class="m-2 p-2 settingsBar">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Password
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <input matInput placeholder="Password">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Confirm password">
                </mat-form-field>

                <button class="btn btn-outline-primary">Confirm</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>