<section id="cover" class="min-vh-100">
    <div class="container text-white">
        <div class="col-lg-6 mx-auto p-4">
            <h1 class="login">Security Scan Scheduler</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" formControlName="username" />
                    <div class="error"
                        *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                        <div *ngIf="loginForm.controls['username'].errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" formControlName="password" />
                    <div class="error"
                        *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                        <div *ngIf="loginForm.controls['password'].errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
                <div *ngIf="loginError">
                    <div class="error">{{errorMsg}}</div>
                </div>
            </form>
        </div>
    </div>
</section>