<section id="cover" class="min-vh-100">
    <div class="container text-white">
        <div class="col-lg-6 mx-auto p-4">
            <h1 class="login">Security Scan Scheduler</h1>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" formControlName="email" />
                    <div class="error"
                        *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" formControlName="password" />
                    <div class="error"
                        *ngIf="password.invalid && (password.dirty || password.touched)">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
                <div *ngIf="loginError">
                    <div class="error">{{errorMsg}}</div>
                </div>
            </form>
        </div>
    </div>
</section>