
#cover {
    background: #3366cc url("src/assets/backgroud.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    font-size: 120%;
}

form:before {
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.login {
    font-family: "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 230%;
    padding-bottom: 30px;
}

.error {
    color: red;
}

.item {
    background: white;
}

.tool-scrollbar {
    height: 100px;
    overflow: auto;
    display: block;
 }

.project {
    background: #ECEBEB;
    height: 100%;
}
